* {
    font-size: 16px;
    font-family: sans-serif;
    color: #4a4a4a;
}

/* NAV-BAR */

nav {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
}

.logo {
    display: flex;
    flex-flow: row;
    align-content: center;
}

.logo img {
    margin: auto 0 auto 1.5rem;
    height: 2rem;

}

.logo p, span {
    font-size: 1.2rem;
    font-weight: 600;
}

.logo span {
    COLOR: grey    ;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar li {
    margin: 1rem;
}

/* BANNER */

.banner {
    background-color: lightgray;
    display: flex;
}

.banner img {
    margin: 2rem 1.5rem;
    width: 60%;
}

.banner-text {
    margin: 2rem 0;
}

.banner h1 {
    font-size: 2rem;
    font-weight: 900;
}

.banner p {
    font-size: 1.5rem;
}

.banner .button {
    font-size: 1rem;
    background-color: #4a4a4a;
    color: white;
    margin: auto 2rem auto 0;
    padding: 0.5rem;
    text-align: center;
}

/* INFORMATION SECTION */