* {
    font-size: 16px;
    font-family: sans-serif;
}

/* NAV-BAR */

nav {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
}

.logo {
    display: flex;
    flex-flow: row;
    align-content: center;
}

.logo img {
    margin: auto 0 auto 1.5rem;
    height: 2rem;

}

.logo p, span {
    font-size: 1.2rem;
}

.logo span {
    COLOR: grey;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar li {
    margin: 1rem;
}

/* BANNER */