* {
    font-size: 16px;
    font-family: sans-serif;
    color: #4a4a4a;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.3rem;
}

/* NAV-BAR */

nav {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    margin: auto 1.5rem
}

.logo {
    display: flex;
    align-items: center;
    margin: auto 1.5rem
}

.logo img {
    height: 2rem;
}

.logo p, span {
    font-size: 1.2rem;
    font-weight: 600;
}

.logo span {
    COLOR: grey;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar li {
    margin: 1rem;
}

/* BANNER */

.banner {
    background-color: lightgray;
    display: flex;
}

.banner img {
    margin: 2rem 1.5rem;
    width: 60%;
}

.banner-text {
    margin: auto auto;
    width: 30%;
}

.banner-text p {
    margin: 1rem 0;
}

.banner p {
    font-size: 1.5rem;
}

.banner .button {
    font-size: 1rem;
    background-color: #4a4a4a;
    color: white;
    margin: auto 2rem auto 0;
    padding: 0.5rem;
    text-align: center;
}

/* INFORMATION SECTION */

.information {
    display: flex;
    margin: 2rem 1rem 2rem 1.5rem;
}

.info-main {
    width: 60%;
    margin-right: 1.5rem;
}

.info-main h1 {
    margin: 2rem 0 1.5rem 0;
}

.info-main img {
    width: 100%;
}

.info-main .autor {
    font-size: 10px;
}

.info-bar {
    width: 40%;
}

.info-box {
    display: flex;
    margin: 0 1rem 1rem;
}

#guest {
    background-color: lightgray;
}

.info-box img {
    width: 35%;
    height: auto;
    margin: 0 1rem 0 0;
}

.info-box-text {
    margin: auto;
}

.info-box-text p {
    margin-top: 1rem;
}

.info-box-text A {
    color: blue;
}

/* LEARNING SECTION */

.learning {
    margin: 2rem;
    padding: 0 4.5rem;
    background-color: lightgray;
}

.learning h1 {
    padding: 2rem 0 1rem; 
    text-align: center;
}

.learn-boxes {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

.learn-box {
    width: 27%;
    background-color: white; 
    margin: 1rem;
}

.learn-box img {
    width: 100%;
}

.learn-box h2  {
    margin: 1rem;
}

.learn-box p  {
    margin: 1rem;
}

.learn-box p {
    color: grey;
}

/* THESIS SECTION */
.thesis-info {
    display: flex;
    margin: 0 1.5rem 2rem;
}

.thesis h1 {
    margin: 2rem auto;
    text-align: center;
}

.thesis-main {
    width: 60%;
    margin-right: 1.5rem;
}

.thesis-main video {
    width: 100%;
    margin-bottom: 1.5rem;
}

.thesis-cointeiner {
    width: 40%;
}

.thesis-box {
    display: flex;
}

.thesis-box img {
    width: 35%;
    margin: 1rem;
}

.thesis-box-text {
    margin: auto auto;
}